body {

    background:
        linear-gradient(rgba(23, 23, 23, 0.5), rgba(30, 30, 30, 0.5)),
        url("bg_block_b.png");
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.block_a {

    background:
        linear-gradient(rgba(23, 23, 23, 0.5), rgba(27, 27, 27, 0.5)),
        url("bg_block_a.png");
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.banner {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* .banner {
    width: 70%;
    transform: scaleY(0.8);
} */
 
.conteudo {
    width: 70%;      /* mesma largura da banner */
    margin: 30px auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.conteudo2 {
    width: 70%;      /* mesma largura da banner */
    margin: 30px auto;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.foto {
    width: 500px;
    height: auto;
}

.textoA {
    flex: 1;
    color: white;
    font-size: 28px;
    font-family: "Fondamento", cursive;
}

.textoA h2 {
    color: white;
    margin-top: 10px; /* desce o título */
    font-family: 'Unica One', cursive;
}

.textoA h3 {
    color: white;
    font-size: 30px;
    font-family: 'Unica One', cursive;
}

/*block_b*/

.banner2 {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.conteudo3 {
    width: 60%;      /* mesma largura da banner */
    margin: 30px auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.conteudo4 {
    width: 60%;      /* mesma largura da banner */
    margin: 30px auto;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.fotoB {
    width: 400px;
    height: auto;
}

.fotoB2 {
    width: 560px;
    height: auto;
}

.textoB {
    flex: 1;
    color: white;
    font-size: 26px;
    font-family: "Fondamento", cursive;
}

.textoB h2 {
    color: white;
    margin-top: 10px; /* desce o título */
    font-family: 'Unica One', cursive;
}

.textoB h3 {
    color: white;
    font-size: 30px;
    font-family: 'Unica One', cursive;
}
