.banner {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* .banner {
    width: 70%;
    transform: scaleY(0.8);
} */
 
.conteudo {
    width: 70%;      /* mesma largura da banner */
    margin: 30px auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.conteudo2 {
    width: 70%;      /* mesma largura da banner */
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse; /* <--- ESSA LINHA FAZ A MÁGICA */
    gap: 20px;
    align-items: flex-start;
}

.foto {
    width: 500px;
    height: auto;
}

.texto {
    flex: 1;
    font-size: 35px;
    font-family: "Pompiere", sans-serif;
}

.texto h2 {
    margin-top: 100px; /* desce o título */
    font-family: 'Unica One', cursive;
}
